@import "node_modules/govuk-frontend/settings/all";
@import "node_modules/govuk-frontend/tools/all";
@import "node_modules/govuk-frontend/helpers/all";
@import "node_modules/govuk-frontend/vendor/sass-mq";

.hmrc-item-list {
  padding-left: 0;
  @include govuk-font($size: 19);
  @include govuk-media-query($from: tablet) {
    display: table;
  }
}

.hmrc-item-list--short {
  @include govuk-media-query($from: tablet) {
    width: 100%;

    // recommended for mostly short questions
    .hmrc-item-list__identifier {
      width: 30%;
    }
  }
}

.hmrc-item-list--long {
  @include govuk-media-query($from: tablet) {
    width: 100%;

    // recommended for mostly long identifiers
    .hmrc-item-list__identifier {
      width: 50%;
    }
  }
}

.hmrc-item-list__contents {
  display: block;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(1);
  list-style-type: none;
  border-bottom: 1px solid $govuk-border-colour;
  @include govuk-media-query($from: tablet) {
    display: table-row;
    padding-bottom: 0;
    border-bottom-width: 0;
  }
}

.hmrc-item-list__identifier,
.hmrc-item-list__actions {
  display: inline;
  @include govuk-media-query($from: tablet) {
    display: table-cell;
    padding: govuk-spacing(3) 0;
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.hmrc-item-list__identifier {
  margin: govuk-spacing(2) govuk-spacing(9) 0 0;
  font-weight: bold;

  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}

.hmrc-item-list__identifier--light {
  font-weight: normal;
}

.hmrc-item-list__actions {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);
  @include govuk-media-query($from: tablet) {
    width: 20%;
    padding-right: 0;
    text-align: right;
  }
}

.hmrc-item-list__actions-list {
  width: 100%;
  margin: 0; // Reset default user agent styles
  padding: 15px 0;
}

.hmrc-item-list__actions-list-item {
  display: inline-block;
  margin-right:  govuk-spacing(2);
  padding-right: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    display: inline;
}
}

// In older browsers such as IE8, :last-child is not available,
// so only show the border divider where it is available.
.hmrc-item-list__actions-list-item:not(:last-child) {
  border-right: 1px solid $govuk-border-colour;
}

.hmrc-item-list__actions-list-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}

.hmrc-item-list--no-border {
  .hmrc-item-list__key,
  .hmrc-item-list__value,
  .hmrc-item-list__actions,
  .hmrc-item-list__row {
    border: 0;
  }
}
